.body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.name {
  line-height: 140px;
  display: inline-block;
  color: #333333;
  font-family: monospace;
  font-size: 60px;
  font-weight: bold;
  height: 150px;
  width: 550px;
  background: #eeeeee;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 5px 10px grey;
}

.wolf {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  animation-name: wolf;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}
@keyframes wolf {  
    50% {
        transform: scale(1.05);
        }
}

.square {
  line-height: 140px;
  display: inline-block;
  color: #716d6a;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  height: 150px;
  width: 150px;
  background: #eeeeee;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 5px 10px grey;
}
.square:hover {
  background: #eeeeee;
  font-size: 25px;
  box-shadow: none;
}

.square2 {
  line-height: 140px;
  display: inline-block;
  color: #716d6a;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  height: 150px;
  width: 150px;
  background: #eeeeee;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 5px 10px grey;
}
.square2:hover {
  background: #eeeeee;
  font-size: 25px;
  box-shadow: none;
}

.square3 {
  line-height: 140px;
  display: inline-block;
  color: #716d6a;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  height: 150px;
  width: 150px;
  background: #eeeeee;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 5px 10px grey;
}
.square3:hover {
  background: #eeeeee;
  font-size: 25px;
  box-shadow: none;
}

.square4 {
  line-height: 140px;
  display: inline-block;
  color: #716d6a;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  height: 150px;
  width: 150px;
  background: #eeeeee;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 5px 10px grey;
}
.square4:hover {
  background: #eeeeee;
  font-size: 25px;
  box-shadow: none;
}

.horz {
  line-height: 140px;
  display: inline-block;
  color: #716d6a;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  height: 150px;
  width: 550px;
  background: #eeeeee;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 5px 10px grey;
}
.horz:hover {
  background: #eeeeee;
  font-size: 25px;
  box-shadow: none;
}

.vert {
  line-height: 40px;
  display: inline-block;
  color: #716d6a;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  height: 450px;
  width: 150px;
  background: #eeeeee;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 5px 10px grey;
}
.vert:hover {
  background: #eeeeee;
  font-size: 25px;
  box-shadow: none;
}

.vert2 {
  line-height: 40px;
  display: inline-block;
  color: #716d6a;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  height: 450px;
  width: 150px;
  background: #eeeeee;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 5px 10px grey;
}
.vert2:hover {
  background: #eeeeee;
  font-size: 25px;
  box-shadow: none;
}