.body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a {
  text-indent:0;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:150px;
  line-height:50px;
  width:150px;
  text-decoration: none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}a:hover {
  background-color:#dfdfdf;
}a:active {
  position:relative;
  top:1px;
}

.wolf {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.square {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  font-family: monospace;
  font-size: 30px;
  background: #eeeeee;
  border-radius: 10px;
}
.square:hover {
  background: #f7f7f7;
  font-size: 35px;
}


.horz {
  vertical-align: middle;
  width: 550px;
  height: 150px;
  font-family: monospace;
  font-size: 30px;
  background: #eeeeee;
  border-radius: 10px;
}
.horz:hover {
  background: #f7f7f7;
  font-size: 35px;
}

.vert {
  vertical-align: middle;
  width: 150px;
  height: 550px;
  font-family: monospace;
  font-size: 30px;
  background: #eeeeee;
  border-radius: 10px;
}
.vert:hover {
  background: #f7f7f7;
  font-size: 35px;
}