.font {
  color: #222224;
  text-align: center;
  font-family: monospace;
  font-size: 30px;
  text-shadow: 1px 2px 5px grey;
}

.wolf {
  width: 200px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.sub {
  color: #797980;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  text-shadow: 1px 2px 5px grey;
}

.body {
  background-color: #eeeeee;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  text-align: center;
}

.findme {
  color: #797980;
  font-family: monospace;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  padding: 5px;
}

.link {
  color: #f0f0f0;
  text-decoration: none;
  background: #797980;
  padding: 10px;
  border-radius: 5px;
  font-family: sans-serif;
}

.link:hover {
  color: #c0c5ce; 
}

p.p1 {
  color: #343d46;
  font-family: sans-serif;
  text-decoration: underline;
  text-align: center;
}

p.p2 {
  color: #343d46;
  font-family: sans-serif;
  text-decoration: underline;
  text-align: center;
}

p.p3 {
  font-family: monospace;
  text-align: center;
  color: #c0c5ce;
  font-size: 20px;
}

.email {
  color: #f0f0f0;
  text-decoration: none;
  background: #222224;
  padding: 5px;
  border-radius: 5px;
}

.email:hover {
  color: #c0c5ce;
  cursor: crosshair;
}